body {
  padding: 10% ;
	height:150px;
}

.progress-bg {
	margin: 0 auto;
	height: 78px;
	width:100%;
	border-radius: 10px;
  text-align: center;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}



#raised-bar {'
	position:fixed;
	height: 78px;
	border-radius: 10px;
	width:0;

	background-color: #7abcd1; 	
}







.labeltext {
	padding-left:10px;
	
}




