@font-face {
  font-family: 'SofiaR';
       url('SofiaProRegular.woff') format('woff');
}



body {
  padding-left: 10%;
  padding-right:10%;
  font-family: 'SofiaR', Fallback, sans-serif; font-size:150%;
}

.progress-bg {
	margin: 0 auto;
	height: 78px;
	width:100%;
	border-radius: 10px;
  text-align: center;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}



#raised-bar {'
	position:fixed;
	height: 78px;
	border-radius: 10px;
	width:0;

	background-color: #7abcd1; 	
}







.labeltext {
	padding-left:10px;
	padding-bottom:10px;
	font-weight: bold;
	
}












